/node_modules
/public/hot
/public/storage
/public/reports
/public/gemini_ad_extension_details
/public/gemini_adjustment_stats
/public/gemini_campaign_bid_performance_stats
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
docker-compose.yml
/docker