a {
    i {
        pointer-events: none;
    }
}

.bg-midnight {
    background: #1F2D3D;
}

.select2-container {
    .select2-selection--single {
        min-height: 36px !important;
        border-color: #ced4da !important;
        height: auto;

        .select2-selection__arrow {
            height: 36px !important;
            top: 0 !important;
        }

        .select2-selection__rendered {
            line-height: unset !important;
            margin-top: 0 !important;
        }
    }

    .select2-selection--multiple {
        border-color: #ced4da !important;
    }
}